* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fa;
}

nav {
  background: #2563eb;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav li {
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 50px;
  color: #2563eb;
}

.hero p {
  margin-top: 20px;
  font-size: 20px;
}

.hero button {
  margin-top: 30px;
  padding: 14px 35px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.hero button:hover {
  background: #1d4ed8;
  transform: scale(1.05);
}nav li:hover {
  color: yellow;
  transition: 0.3s;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f5f7fa;
}

.login-box {
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid gray;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-box p {
  text-align: center;
  margin-top: 20px;
}

.login-box span {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f5f7fa;
}

.register-box {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.register-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.register-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid gray;
}

.register-box button {
  width: 100%;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register-box p {
  text-align: center;
  margin-top: 20px;
}

.register-box span {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}